body {
  background-color: #7FDBFF; }
  body .header {
    height: 250px;
    background-color: white;
    background-image: url("/images/BRAND.PNG");
    background-repeat: no-repeat;
    background-position: 725px 0px; }
  body .row {
    margin-left: 0; }
  body .brand {
    height: 50px;
    margin-top: 0; }
  body .btn-warning {
    background-color: orange; }
  body .btn-success {
    background-color: green; }
